*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.menu{
    background-color: #718387;
    color: #FFFFFF;
    padding: 8px;
}
.menu_conteudo{
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    gap: 8px;
}
.menu_link{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 14px;
}
.menu_link:hover {
    color:#09080a;
}
.info{
    background: rgb(91,26,139);
    background: linear-gradient(90deg, rgba(91,26,139,0.8) 0%, rgba(0,17,255,0.8) 100%), url('tech.jpg');
    background-size: cover;
    background-position: center;
    height: 260px;
    padding-top: 64px;
    padding-bottom: 16px;
    text-align: center;
    color: #FFFFFF;
}
.conteudo{
    background-color: #e2f3f3;
    padding: 16px;

}
.conteudo > div {
    max-width: 1200px;
    margin: 0 auto;
}
.rodape{
    background-color: #445868;
    padding: 16px;
    color: #FFFFFF;
}
.rodape_conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
.foto{
    border-radius: 50%;
    border: 2px #FFFFFF solid;
    object-fit: cover;
}
.titulo{
    color: #486288;
    padding-top: 20px;
    padding-bottom: 10px;
}
.texto{
    line-height: 1.5;
}
.galeria{
    border: 3px #5b1a8b solid;
    object-fit: cover;
    border-radius: 10px;
}
.galeria:hover{
    transition: 800ms;
    transform: scale(1.1);
    border: 4px #33e606 solid;
}
.imgs {
    display: flex;
    gap: 100px;
    padding-left: 100px;
}